<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<!--<button onclick="window.location.href='/admin/adminPage'" class="btn btn-danger" id="btn3">Login as Admin</button></body>-->
<!--<button onclick="window.location.href='/user/userpage'" class="btn btn-danger" id="btn3">Login as User</button></body>-->
<button onclick="window.location.href='/register'" class="btn btn-danger" id="btn3">Register</button></body>
<button onclick="window.location.href='/list-products'" class="btn btn-danger" id="btn3">List of products</button></body>
<button onclick="window.location.href='/create-product'" class="btn btn-danger" id="btn3">Create a new product</button></body>
<button onclick="window.location.href='/order/login'" class="btn btn-danger" id="btn3">Order</button></body>
<button onclick="window.location.href='/list/orders'" class="btn btn-danger" id="btn3">List Of Orders</button></body>
</html>